name: Build and push Docker image

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/**"
      - ".gitignore"
      - ".gitattributes"
      - ".dockerignore"
      - "docker-compose.yml"
      - "docker-compose-dev.yml"
      - "README.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build image
        run: |
          docker buildx create --name multiarch-builder --use --bootstrap
          docker buildx build --platform linux/amd64,linux/arm64 --tag ghcr.io/elmerohueso/family-chores:latest .
      - name: push image
        run: |
          echo ${{secrets.CR_PAT}} | docker login ghcr.io -u elmerohueso --password-stdin
          docker push ghcr.io/elmerohueso/family-chores:latest
